/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

html 
  background #121212 !important

body
  background #121212 !important

.navbar
  background #121212 !important
.navbar .links
  background #121212 !important

.sidebar
  background #1c1c1c !important

a.active.sidebar-link
  color #fff !important
  border-left-color #fff !important

a.header-anchor
  color #e8eaed !important